{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="site-cover overlay" style="background-image: url(/media/{{ post.image }})">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="post-entry text-center">
					<span class="post-category text-white bg-info mb-3">Natural</span>
					<h1 class="mb-4">{{ post.title }}</h1>
					<div class="post-meta align-items-center text-center">
						{% if post.writer == 'Melissa Biggs' %}
						<figure class="author-figure mb-0 mr-3 d-inline-block">
							<img src="{% static 'img/author-circle.png' %}" alt="Image" class="img-fluid"></figure>
							{% else %}
							<figure class="author-figure mb-0 mr-3 d-inline-block">
								<img src="{% static 'img/Logo-circle.png' %}" alt="Image" class="img-fluid"></figure>
								{% endif %}
								<span class="d-inline-block mt-1">{{post.writer}}</span>
								<span>&nbsp;-&nbsp; {{ post.published_date }}</span>
								<p>Views: {{post.views}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="site-section">
	<div class="container">
		<div class="row blog-entries">
			<div class="col-md-12 col-lg-8">
				<div>{{ post.content }}</div>
			</div>
			<div class="pt-5">
				<!-- <p>Categories: <a href="#">Food</a>, <a href="#">Travel</a></p>   -->
				<p>Tags: <a href="#">{{ post.tag }}</a></p>
			</div>
			<a href="{% url 'get_posts' %}" class="btn btn-secondary">Back to Blog</a>
			{% if user.is_superuser %}
			<a href="{% url 'edit_post' post.id %}" class="btn btn-secondary">Edit Post</a>
			{% endif %}
		</div>
	</div>
</section>

<!-- Comments  -->

<hr>
<div class="heading_comments_reviews">Comments</div>
<hr>

{% if user.is_authenticated %}
<form method="POST" id="account-form">
	{% csrf_token %}
	{{ form | as_bootstrap }}
	<button type="submit" class="btn accounts-btn">Submit Comment</button>
</form>
{% else %}
<br>
<div class="log-in-here"><b><a href="{% url 'login' %}">Sign in here</a></b> to post your own review</div>
<br>
{% endif %}

{% for comment in post.comments.all %}
<div class="review" style="padding: 10px;">
	<div class="font-weight-bold">
		<p class=" text-muted font-weight-normal">
			{{comment.user.username|capfirst}} - {{ comment.published_date }}
		</p>
	</div>
	{{ comment.body | linebreaks }}
</div>
<hr>
{% endfor %}
{% endblock %}