{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}FaceValue{% endblock %}

{% block content %}
<!-- Home Page -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<h3 class="my-5 text-center">Feel good in your skin.</h3>
			<div class="list-group">
				<a href="{% url 'face_products' %}" class="list-group-item">Face Products</a>
				<a href="{% url 'body_products' %}" class="list-group-item">Body Products</a>
				<a href="{% url 'get_posts' %}" class="list-group-item">Tips for Healthy Skin</a>
			</div>
		</div>

		<div class="col-lg-8 col-md-12">
			<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<img class="d-block img-fluid" src="{% static 'img/index-image2.jpg' %}" alt="First slide">
            </div>
						<div class="carousel-item ">
							<img class="d-block img-fluid" src="{% static 'img/index-image3.jpg' %}" alt="Second slide">
            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
<br>
<hr>
<br>
<br>
		<!-- RECENTLY ADDED PRODUCTS -->
        <div class="page-headings d-flex justify-content-center col-12"> Just In </div>
		<div class="row index-products">
			{% for product in products %}
			<div class="col-md-4 product-card card">
				<div class="card h-100">
					<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
					</div>
					<div class="card-body">
						<h4 class="card-title">
							<a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
						</h4>
						<h5>€{{ product.price }}</h5>
						<p class="card-text">{{ product.description|truncatewords:20  }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}
