{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}
<div class="container product-detail-container">
	{% for tag in product.tags.all %}
	<p class="post-category text-white bg-secondary mb-3">{{tag.get_value_display}}</p>
	{% endfor %}


	<div class="row">

		<div class="col-sm-8 product-detail-img img-fluid" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

		<div class="col-sm-4">
			<h4 class="my-3">{{product.name}}</h4>
			<p>{{ product.description }}</p>
			<hr>
			<h5 class="my-3 price">Price:
				<span><i class="fas fa-euro-sign" aria-hidden="true"></i> {{ product.price }}</span></h5>
			<hr>
			<div class="rating my-3">
				<div class="stars">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
				{% if product.reviews.count == 0 %}
				<div class="my-3">No reviews</div>
				{% else %}
				<div class="my-3">Reviews: {{ product.reviews.count }}</div>
				{% endif %}
			</div>
			<form method="post" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<div class="input-group">
					<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
					<span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Add</button>
                        </span>
				</div>
			</form>
			<div class="favourite-icon"><a href="{% url 'favourite_product' product.id %}"><i class="far fa-bookmark"></i></a></div>
		</div>
	</div>
</div>

<div class = "product-description">

<hr>
<div class="heading_comments_reviews">Reviews on {{product.name}}</div>
{% if user.is_authenticated %}
<form method="POST" id="account-form">
	{% csrf_token %}
	{{ form | as_bootstrap }}
	<button type="submit" class="btn accounts-btn">Submit Review</button>
</form>
{% else %}
<br>
<div class="log-in-here"><b><a href="{% url 'login' %}">Sign in here</a></b> to post your own review</div>
<br>
{% endif %}

{% for review in product.reviews.all %}
<div class="review" style="padding: 10px;">
	<div class="font-weight-bold">
		{{review.title}}
		<p class=" text-muted font-weight-normal">
			{{review.user.username|capfirst}} - {{ review.published_date }}
		</p>
	</div>
	{{ review.body | linebreaks }}
</div>
<hr>
{% endfor %}

{% endblock %}