{% extends 'base.html' %}
{% block content %}


<!-- Tab for Face, Body and all  -->
<div class="tab-wrapper">
	<div class="category_tabs">
		<ul>
			<li class="placeholder">
				<a data-type="all" href="#">All</a> 
			</li>
			<li class="filter"><a href="{% url 'products' %}" data-type="all">All</a></li>
			<li class="filter" data-filter=".color-1"><a href="{% url 'face_products' %}" data-type="color-1">Face</a>
			</li>
			<li class="filter" data-filter=".color-2"><a href="{% url 'body_products' %}" data-type="color-2">Body</a>
			</li>
		</ul>
	</div>
</div>

<!-- Filter Dropdown  -->
	<div class="row">
		<div class="col-12 filter-col">
			<div class="button-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle tag-dropdown" data-toggle="dropdown"><i class="fas fa-filter"></i></button>
				<ul class="dropdown-menu filter-tag-menu">
                <form method="GET">
					<li><a class="medium" data-value="Acne"
							tabIndex="-1"><input type="checkbox" name="AC"/>&nbsp; Acne</a></li>
					<li><a class="medium" data-value="Aging"
							tabIndex="-1"><input type="checkbox" name="AG"/>&nbsp; Aging</a></li>
					<li><a class="medium" data-value="Alopecia"
							tabIndex="-1"><input type="checkbox" name="AL"/>&nbsp; Alopecia</a></li>
					<li><a class="medium" data-value="Cellulite"
							tabIndex="-1"><input type="checkbox" name="CE"/>&nbsp; Cellulite</a></li>
					<li><a class="medium" data-value="Dry Skin"
							tabIndex="-1"><input type="checkbox" name="D"/>&nbsp; Dry Skin</a></li>
					<li><a class="medium" data-value="Eczema"
							tabIndex="-1"><input type="checkbox" name="EC"/>&nbsp; Eczema</a></li>
					<li><a class="medium" data-value="Oily"
							tabIndex="-1"><input type="checkbox" name="O"/>&nbsp; Oily</a></li>
					<li><a class="medium" data-value="Pregnancy"
							tabIndex="-1"><input type="checkbox" name="PR"/>&nbsp; Pregnancy</a></li>
					<li><a class="medium" data-value="Psoriasis"
							tabIndex="-1"><input type="checkbox" name="PS"/>&nbsp; Psoriasis</a></li>
					<li><a class="medium" data-value="Rosacea"
							tabIndex="-1"><input type="checkbox" name="RO"/>&nbsp; Rosacea</a></li>
					<li><a class="medium" data-value="Scarring"
							tabIndex="-1"><input type="checkbox" name="SC"/>&nbsp; Scarring</a></li>
					<li><a class="medium" data-value="Sensitive Skin"
							tabIndex="-1"><input type="checkbox" name="S"/>&nbsp; Sensitive Skin</a></li>
					<li><a class="medium" data-value="Sun"
                            tabIndex="-1"><input type="checkbox" name="SU"/>&nbsp; Sun</a>
					</li>
					<li><a class="medium" data-value="Tired Skin"
							tabIndex="-1"><input type="checkbox" name="TI"/>&nbsp; Tired Skin</a></li>
                    <button class="btn btn-secondary tag-filter-btn" type="submit">Filter</button>
                </form>
				</ul>
			</div>
		</div>
	</div>

<!-- Products  -->
    <div class="row row-flex products-row">
	{% for product in products %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 product-card card">
		<div class="card-body">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <span class="post-category text-white bg-secondary mb-3">{{ tag.value }}</span>
			<h4><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
			<p class="product-description">{{ product.description }}</p>
			<p><i class="fas fa-euro-sign" aria-hidden="true"></i>{{ product.price }}</p>

			<form method="post" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<div class="input-group">
					<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
					<span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Add</button>
                        </span>
				</div>
			</form>
		</div>
	</div>
	{% endfor %}
</div>

<!-- Pagination -->
<div class = "pagination">
{% if products.has_previous %}
    <a class="pagination-action" href="?page=1" id="page_previous"><i class="fas fa-angle-left"></i></a>
    <a class="pagination-action" href="?page={{ products.previous_page_number }}" id="page_first"><i class="fas fa-angle-double-left"></i></a>
{% endif %}

{% for num in products.paginator.page_range %}
    {% if products.number == num %}
    <span class="pagination-number pagination-current">{{num}}</span>
  {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
    <a class="pagination-number" href="?page={{num}}">{{num}}</a>
  {% endif %}
{% endfor %}


{% if products.has_next %}
    <a class="pagination-action" href="?page={{ products.next_page_number }}" id="page_next"><i class="fas fa-angle-right"></i></a>
    <a class="pagination-action" href="?page={{ products.paginator.num_pages }}" id="page_last"><i class="fas fa-angle-double-right"></i></a>
{% endif %}
</div>

{% endblock %}