{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}

<h1>{{product.name}}</h1>

<!-- do product details here-->

<h3>Reviews</h3><hr>

{% for review in product.reviews.all %}
        <div class="review" style="padding: 10px;">
          <div class="font-weight-bold">
            {{review.title}}
            <p class=" text-muted font-weight-normal">
              {{review.user.username|capfirst}} - {{ review.published_date }}
            </p>
          </div>
          {{ review.body | linebreaks }}
        </div>
        <hr>
        {% endfor %}


<form method="POST" id="account-form">
	{% csrf_token %} 
    {{ form | as_bootstrap }}
    <button type="submit" class="btn accounts-btn">Submit Comment</button>
</form>




{% endblock %}