{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}|Products{% endblock %}
{% block content %}

<!-- Search Bar on smaller devices -->
<div class="product_search 	d-block d-sm-none">
	<form class="form-inline" action="{% url 'search' %}" method="get">
		<input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Products" aria-label="Search">
		<button class="btn btn-outline-secondary my-2 my-sm-0 accounts-btn" type="submit">Search</button>
	</form>
</div>

<!-- Tab for Face, Body and All  -->
<div class="tab-wrapper">
	<div class="category_tabs" id="cat-tab">
		<ul>
			<li class="placeholder">
				<a data-type="all" href="{% url 'products' %}">All</a>
			</li>
			<li class="filter"><a href="{% url 'products' %}" class="selected" data-type="all" id="all_products_filter">All</a></li>
			<li class="filter" data-filter=".color-1"><a href="{% url 'face_products' %}" data-type="color-1"
					id="face_products_filter">Face</a>
			</li>
			<li class="filter" data-filter=".color-2"><a href="{% url 'body_products' %}" data-type="color-2"
					id="body_products_filter">Body</a>
			</li>
		</ul>
	</div>
</div>

<!-- Filter Dropdown  -->
<div class="row">
	<div class="col-12 filter-col">
		<div class="button-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle tag-dropdown" data-toggle="dropdown"><i class="fas fa-filter"></i></button>
			<ul class="dropdown-menu filter-tag-menu">
				<form method="GET">
                	<li><a class="medium" data-value="Acne"
							tabIndex="-1"><input type="checkbox" name="AC"/>&nbsp; Acne</a></li>
					<li><a class="medium" data-value="Aging"
							tabIndex="-1"><input type="checkbox" name="AG"/>&nbsp; Aging</a></li>
					<li><a class="medium" data-value="Cellulite"
							tabIndex="-1"><input type="checkbox" name="CE"/>&nbsp; Cellulite</a></li>
					<li><a class="medium" data-value="Dry Skin"
							tabIndex="-1"><input type="checkbox" name="D"/>&nbsp; Dry Skin</a></li>
					<li><a class="medium" data-value="Eczema"
							tabIndex="-1"><input type="checkbox" name="EC"/>&nbsp; Eczema</a></li>
					<li><a class="medium" data-value="Oily"
							tabIndex="-1"><input type="checkbox" name="O"/>&nbsp; Oily</a></li>
					<li><a class="medium" data-value="Psoriasis"
							tabIndex="-1"><input type="checkbox" name="PS"/>&nbsp; Psoriasis</a></li>
					<li><a class="medium" data-value="Rosacea"
							tabIndex="-1"><input type="checkbox" name="RO"/>&nbsp; Rosacea</a></li>
					<li><a class="medium" data-value="Scarring"
							tabIndex="-1"><input type="checkbox" name="SC"/>&nbsp; Scarring</a></li>
					<li><a class="medium" data-value="Sensitive Skin"
							tabIndex="-1"><input type="checkbox" name="S"/>&nbsp; Sensitive Skin</a></li>
					<li><a class="medium" data-value="Sun"
							tabIndex="-1"><input type="checkbox" name="SU"/>&nbsp; Sun</a>
					</li>
					<li><a class="medium" data-value="Tired Skin"
							tabIndex="-1"><input type="checkbox" name="TI"/>&nbsp; Tired Skin</a></li>
					<button class="btn btn-secondary tag-filter-btn" type="submit">Filter</button>
                    <br>
                    <p><button class="btn btn-secondary tag-filter-btn" type="submit"><a href="{% url 'products' %}">Clear</a></button></p>
				</form>
			</ul>
		</div>
	</div>
</div>

<!-- Products  -->
<div class="row row-flex products-row">
	{% for product in products %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 product-card card"><a href="{% url 'product_detail' product.id %}">
		<div class="card-body">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            {% for tag in product.tags.all %}
			<span class="post-category text-white bg-danger mb-3">{{ tag.get_value_display }}</span>
            {% endfor %}
			<h4><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
			<p class="product-description">{{ product.description|truncatewords:10  }}</p>
			<p>€{{ product.price }}</p>

			<form method="post" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<div class="input-group quantity_group col-lg-6 col-10 float-right">
					<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" value="1">
					<span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit" >Add</button>
                        </span>
				</div>
			</form>
		</div>
        </a>
	</div>
	{% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
	{% if products.has_previous %}
	<a class="pagination-action pagination-class" href="?page=1" id="page_previous"><i class="fas fa-angle-left"></i></a>
	<a class="pagination-action pagination-class" href="?page={{ products.previous_page_number }}"
		id="page_first"><i class="fas fa-angle-double-left"></i></a>
	{% endif %}

	{% for num in products.paginator.page_range %}
	{% if products.number == num %}
	<span class="pagination-number pagination-current">{{num}}</span>
	{% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
	<a class="pagination-number pagination-class" href="?page={{num}}">{{num}}</a>
	{% endif %}
	{% endfor %}

	{% if products.has_next %}
	<a class="pagination-action pagination-class" href="?page={{ products.next_page_number }}"
		id="page_next"><i class="fas fa-angle-right"></i></a>
	<a class="pagination-action pagination-class" href="?page={{ products.paginator.num_pages }}"
		id="page_last"><i class="fas fa-angle-double-right"></i></a>
	{% endif %}
</div>

{% endblock %}

{% block footer_js %}
<script>
$(document).ready(function(){
    let quantity_group = $('.quantity_group');
    quantity_group.each(function(){
        let input = $(this).find('input');
        let button = $(this).find('button');
        input.change(function(){
            if ($(this).val() != "" && $(this).val() > 0){
                $(button).prop('disabled', false);
            }
            else {
                $(button).prop('disabled', true);
            }
        });
    });
});
</script>
{% endblock %}