@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

/* BODY */

body {    
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

/* NAVBAR */

.navbar {
    background-color: #fff7ff !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: .5em;
    color: #6c757d !important;
}
.highlighted-txt {
    color: black;
}

.nav-dropdown {
    height: 45px;
    width: 55px;
}

.dropdown-toggle::after{
    margin-left: 0px;
}

.fa-user-circle {
    font-size: 1.4em;
}

ul {
    padding-left: 10px;
}


.item-number{
    margin: .5em;
}

.account-form {
    width: 50%;
}



footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.product-card {
    border-color: transparent;
    padding: 0 10px;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* .form-inline {
    margin-bottom: 0px;
} */

/* BLOG  */

.story-img {
    margin-top: 25%;
    display: block;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.boldtext{
    font-weight: bold;
}