@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

/* BASE */

body {    
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.alert {
    width: 50%;
    margin: auto;
}

.page-headings {
    font-size: 1.8em;
    text-align: center;
}

/* NAVBAR */

.navbar {
    background-color: #fff7ff !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: .5em;
    color: #6c757d !important;
}
.highlighted-txt {
    color: black;
}

.nav-dropdown {
    height: 45px;
    width: 55px;
}

.skincare-drop {
    color: black!important;
}

.dropdown-toggle::after{
    margin-left: 0px;
}

.fa-user-circle {
    font-size: 1.4em;
}

ul {
    padding-left: 10px;
}


.item-number{
    margin: .5em;
}

/* LOGIN, REGISTER */

#account-form {
    width: 50%;
    margin: auto;
    padding-bottom: 3em;
}

.accounts-btn {
    background-color: #fff7ff!important;
    border: 2px solid #6c757d;
    
}

.log-in-here {
    text-align: center;
}

/* footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
} */

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* PRODUCT PAGE */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.product-card {
    border-color: transparent;
    padding: 0 10px;
    padding-bottom: 2em;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* .form-inline {
    margin-bottom: 0px;
} */

/* BLOG  */

.story-img {
    margin-top: 25%;
    display: block;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.boldtext{
    font-weight: bold;
}

/* FOOTER */

.page-footer {
    background-color: #fff7ff;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    margin-top:auto; 
}
.social-links {
    list-style: none;
    text-align: center;
    padding-left: 0em;
}

.social-links li {
    padding-left: 2em;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    padding-right: 9px;
}

.social-links a {
    display: inline-block;
    color: #6c757d;
}

.social-links li a:hover {
    color: black;
}

.social-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-copyright {
    text-align: center;
}

.social-media-row {
    margin-bottom: 0px!important;
}