  
.account-form {
    width: 50%;
}

body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.product-card {
    border-color: transparent;
    padding: 0 10px;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.form-inline {
    margin-bottom: 0px;
}

/* BLOG  */

.story-img {
    margin-top: 25%;
    display: block;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.boldtext{
    font-weight: bold;
}