@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

/* BASE */

body {    
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.alert {
    width: 50%;
    margin: auto;
}

.page-headings {
    font-size: 1.6em;
    text-align: center;
}

a {
    color: #6c757d;
}

/* NAVBAR */

.navbar {
    background-color: #fff7ff !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: .5em;
    color: #6c757d !important;
}
.highlighted-txt {
    color: black;
}

.navbar a {
    color: #6c757d;
}

.nav-dropdown {
    height: 45px;
    width: 55px;
}

.dropdown-toggle.nav-dropdown{
    white-space: normal;
}

.skincare-drop {
    color: black!important;
}

.dropdown-toggle::after{
    margin-left: 0px;
}

.fa-user-circle {
    font-size: 1.4em;
}

.fa-user-circle:hover {
    color: #6c757d;
}

.fa-shopping-cart {
    margin-top: .4em;
}

.fa-shopping-cart:hover {
    color: #6c757d;
}

ul {
    padding-left: 10px;
}

.item-number{
    margin: .5em;
}

.cart-btn-small {
    padding: 0;
    color: black!important;
}

/* INDEX */

.carousel-item img{
    height: 300px;
    width: 700px;
}

.index-products {
    padding-top: 3.5em;
}

.list-group-item:hover {
    background-color: #fff7ff !important;
    color: #6c757d;
}

/* PAGINATION */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
}

.pagination-action{
    margin: 0 0.1em;
    padding: .3em;
    color: #6c757d;
    font-size: 1.3em; 
}

.pagination-action:hover{
    color: black;
}

.pagination-number{
    background-color: #fff7ff;
    padding: .5em .8em;
    color:#6c757d;
    border-radius: 2px;
}

.pagination-current{
    border: solid;
}

/* LOGIN, REGISTER */

#account-form {
    width: 50%;
    margin: auto;
    padding-bottom: 3em;
}

.accounts-btn {
    background-color: #fff7ff!important;
    border: 2px solid #6c757d;
}

.log-in-here {
    text-align: center;
}

.reset-password {
    text-align: center;
    padding: 2em;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
    text-align: center;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.error-msg {
    color: red;
}

.email-reset-page {
    padding: 1em;
}
/* BLOG COMMENTS */

.heading_comments_reviews{
    text-align: center;
    padding: 1em;
}

.blog-btn{
    margin-bottom: 1em;
    margin-left: 1em;
}

/* PRODUCT PAGE */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.product-card {
    border-color: transparent;
    padding: 0 10px;
    padding-bottom: 2em;
}

.card-body {
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.tag-filter-btn {
    background-color: #fff7ff!important;
    border: 2px solid #6c757d;
    color: #6c757d;
    margin-left: 2em;
    margin-bottom: 1em;
}

.tag-filter-btn a {
    text-decoration: none;
}
.tag-filter-btn a:hover {
    color: black;
}

.tag-filter-btn:hover {
    color: black;
}

.bg-danger {
    background-color: #fff7ff!important;
    color: #6c757d!important;
}

/* PRODUCT DETAIL PAGE */

.product-detail-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}

.product-detail-sm-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.favourite-icon {
    font-size: 2em;
    padding-top: .5em;
}

.review-btn {
    background-color: #fff7ff!important;
    border: 2px solid #6c757d;
    margin-top: 1.5em;
}

/* BLOG  */

.blogpostform {
    width: 50%;
    margin: auto;
    padding-bottom: 3em;
}

.edit-post-form {
    text-align: center;
}

.blog_search{
    padding: 1em;
}

.site-section {
    padding-top: 2em;
}
/* The blog layout was inspired by this template: https://colorlib.com/preview/theme/miniblog/ */

.container {
    max-width: 1200px; 
}

.entry img {
    margin-bottom: 30px; 
    display: block;

}

.entry h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700; 
}

.entry h2 a {
    color: #000; 
}

.entry .excerpt {
    padding-left: 20px;
    padding-right: 20px; 
}

.entry .post-meta {
    color: #b3b3b3;
    font-size: 13px;
    width: 100%;
    display: block;
}
  
.entry .post-meta a {
    color: #000; 
}

.entry .post-meta img {
    width: 30px;
}

.entry {
    padding-bottom: 2em;
}


#blog-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 300px;
    width: 400px;
}

.post-category {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase; 
}

/* BLOG POST DETAIL */

.site-cover {
  background-size: cover;
  background-position: top center;
  position: relative; 
}
  
.site-cover.overlay:before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}
 .site-cover .post-entry .post-meta {
    color: #fff;
    font-size: .8em; }

.site-cover {
    padding: 4em 0; 
}

.site-cover h1 {
    font-size: 2rem;
    color: #fff; 
}

.blog-entries {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
  font-size: 1.3em;
  color: #6c757d; 
}

.author-figure {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    max-width: 100%; }

/* FOOTER */

.page-footer {
    background-color: #fff7ff;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    margin-top:auto; 
}
.social-links {
    list-style: none;
    text-align: center;
    padding-left: 0em;
}

.social-links li {
    padding-left: 2em;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    padding-right: 9px;
}

.social-links a {
    display: inline-block;
    color: #6c757d;
}

.social-links li a:hover {
    color: black;
}

.social-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-copyright {
    text-align: center;
}

.social-media-row {
    margin-bottom: 0px!important;
}

/* CHECKOUT PAGE */

.fa-cc-stripe{
    font-size: 2em;
    color: #6c757d;
}

/* CART */

.fa-caret-left{
    padding: .5em;
    padding-left: 0em;
}

.cart-return-btn {
    margin-left: 1em;
    padding-bottom: 2em;
}

.cart-empty {
    width: 50%;
    margin: auto;
}

/* PROFILE PAGE */

.fa-map-pin,
.fa-envelope,
.fa-gift {  
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.profile-card {
    background-color: #fff7ff!important;
    border: 2px solid #6c757d;
}

.profile-row {
    margin: 1em;
}

.favourite-heading {
    font-size: 1.5em;
    text-align: center;
    padding-top: 2em;
}

/* PRODUCT PAGE */

.tab-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.category_tabs {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}

.category_tabs a {
  display: block;
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}

  .category_tabs {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }

  .category_tabs ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }

  .category_tabs li {
    display: inline-block;
  }

  .category_tabs li.placeholder {
    display: none !important;
  }

  .category_tabs a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
      }

  .category_tabs a:hover {
    color: #6c757d;
  }

  .category_tabs a.selected {
    background: transparent;
    color: #6c757d;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #6c757d;
  }

  .category_tabs.is-open ul li {
    display: inline-block;
  }

 .category_tabs {
    /* reduce width when filter is visible */
    width: 80%;
  }

.filter-tags {
    padding-top: 1em;
    padding-left: 0em;
}

.tag-dropdown:after{
    content: none;
}

.medium {
    padding-left: .5em;
}

.fa-filter{
    padding-top: 1em;
    font-size: 1.5em;
    color: #6c757d;
}
.fa-filter:hover{
    color: black
}

.checkbox{
    background-color: #fff7ff!important;
}

.filter-tag-menu li {
    padding-bottom: .8em;
}

.filter-tag-menu {
    transform: none!important;
}

.product_search{
    padding: 1em;
}

/* MEDIA QUERIES */

/* Media Query for Mobile Devices */ 
@media (max-width: 500px) { 
    .social-links li{
        font-size: 1em;
    }
}

/* Media Query for Mobile to Tablet Sizes */
@media (max-width: 767px) { 
    .fa-shopping-cart {
        margin-right: 1em;
    }
    .item-number{
        margin-right: 1.4em;
    }
    .nav-search {
        padding-top:2em;
    }
    #account-form {
        width: 80%;
    }
}
          
/* Media Query for Tablets  */ 
@media (min-width: 768px) and (max-width: 1250px){ 
    .carousel-item img{
        padding-left:2.5em;
    } 
}

/* Blogpost Media Queries */
@media (min-width: 768px) {
    .site-section {
        padding: 3em 0; 
        } 
    .site-section {
        padding: 4em 0; 
        }
}
