{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	//<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="border-0 bg-light">
									<div class="p-2 px-3 text-uppercase">Product</div>
								</th>
								<th scope="col" class="border-0 bg-light">
									<div class="py-2 text-uppercase">Price</div>
								</th>
								<th scope="col" class="border-0 bg-light">
									<div class="py-2 text-uppercase">Quantity</div>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for item in cart_items %}
							<tr>
								<th scope="row" class="border-0">
									<div class="p-2">
										<img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="" width="70" class="img-fluid rounded shadow-sm">
										<div class="ml-3 d-inline-block align-middle">
											<h5 class="mb-0"> <a href="#"
													class="text-dark d-inline-block align-middle">{{ item.product.name }}</a>
											</h5>
										</div>
									</div>
								</th>
								<td class="border-0 align-middle">
								    <strong><i class="fas fa-euro-sign" aria-hidden="true"></i>{{ item.product.price }}</strong>
								</td>
								<td class="border-0 align-middle"><strong>{{item.quantity}}</strong></td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
					<div class="p-4">
						<p class="font-italic mb-4">Shipping and additional costs are calculated based on values you
							have entered.</p>
						<ul class="list-unstyled mb-4">
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Order Subtotal </strong><strong><i class="fas fa-euro-sign" aria-hidden="true"></i>{{ total }}</strong>
							</li>
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Shipping and handling</strong><strong><i class="fas fa-euro-sign" aria-hidden="true"></i>5.00</strong>
							</li>
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Total</strong>
								<h5 class="font-weight-bold">
									<i class="fas fa-euro-sign" aria-hidden="true"></i>{{ total|add:5 }}</h5>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-6">
					<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
						<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Payment Details
						</div>
						<br>
						<div class="row payment-forms">
							<div id="credit-card-errors" style="display: none;">
								<div id="alert-message block-message error" id="stripe-error-message"></div>
							</div>

							<div class="form-group col-md-6">
								{{ order_form | as_bootstrap }}
							</div>

							<div class="form-group col-md-6">
								{{ payment_form | as_bootstrap }}
								<i class="fab fa-cc-stripe"></i>
							</div>
						</div>

						{% csrf_token %}
						<div class="form-group col-md-12">
							<input class=" btn btn-secondary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
					</form>
				</div>
			</div>
		</div>

		{% endblock %}