{% extends 'base.html' %}
{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="card profile-card">
				<div class="row profile-row">
					<div class="col-sm-12 col-md-12">
						<h4>{{user|capfirst}}</h4>
						<i class="far fa-envelope"></i> {{ profile.email }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Favourites -->

<div class="favourite-heading"><i class="fas fa-heart"></i> Your Saved Items <i class="fas fa-heart"></i></div>
<div class="row row-flex products-row">
	{% for favourite in user.favourites.all %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 col-lg-4 product-card card">
		<div class="card-body">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ favourite.product.image }}')"></div>
			{% for tag in favourite.product.tags.all %}
			<span class="post-category text-white bg-danger mb-3">{{ tag.get_value_display }}</span>
			{% endfor %}
			<h4><a href="{% url 'product_detail' favourite.product.id %}">{{ favourite.product.name }}</a></h4>
			<p class="product-description">{{ favourite.product.description }}</p>
			<p><i class="fas fa-euro-sign" aria-hidden="true"></i>{{ favourite.product.price }}</p>

			<form method="post" action="{% url 'add_to_cart' favourite.product.id %}">
				{% csrf_token %}
				<div class="input-group">
					<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
					<span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Add</button>
                        </span>
				</div>
			</form>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}